# Environment Variables
.env
.env.local
.env.production
.env.development

# Dependencies
node_modules/

# Next.js
.next/
out/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
npm-debug.log*

# Misc
*.zip
*.gz
